<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Its Working</title>
</head>
<body>
<h1> Welcome To Text Analyazer .Enter Your Text Below</h1>
<form action='/analyze' method='get'>
    <textarea name='text' style='margin: 0px; width: 721px; height: 93px;'></textarea><br>
    <input type="checkbox" name="about">Press Here To Analyze <br>
    <input type="checkbox" name="cap">Press Here To Capitalize all letter <br>
    <input type="checkbox" name="New_Line_Remover">New Line Remove<br>
    <button type='Submit'>Analyze Text</button>
</form>
<form action="/entertainment" method="get"><br>

    <button type="submit">Entertainment</button>
</form>




</body>
</html></html>